.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .login-form-header{
   display: flex;
   justify-content: space-between;
 }

 .sign-in-header{
   padding-right: 60px;
   margin-left: 10px;
   font-size: 40px;
   margin-top: 20px;
   font-weight: 900;
 }

 .register-button{
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 19px;
    border-style: solid;
    width: 80px;
    outline-style: none;
 }

 .register-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-style: solid;
  border-width: medium;
  border-color: black;
 }

 .login-form-box{
   background-color: white;
   height: 620px;
   width: 480px;
   border-radius: 3px;
 }

 .input-boxes{
   display: flex;
   flex-direction: column;
 }

 .label-title{
  margin-left: 20px;
  font-weight: 700;
  margin-bottom: 10px;
 }

 .email-input{
    display: flex;
    justify-content: center;
 }

 .password-input{
    display: flex;
    justify-content: center;
 }

 .login-input{
  width: 90%;
  height: 35px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 4px;
 }

 

 .sign-options{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .stay-signed-in{
  margin-left: 13px;
  padding-top: 15px;
 }

 .forgot-pass{
  margin-right: 13px;
  padding-top: 15px;
 }

 .session-submit-contain{
  display: flex;
  justify-content: center;
 }

 .session-submit-contain-login{
   margin-top: 50px;
 }

 .session-submit{
  background-color: black;
  width: 91%;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-weight: 900;
 }

 .session-submit:hover{
   cursor: pointer;
   background-color:#3c3c3c;
 }

 .bottom-login-form-box{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .hr-line{
  margin-top: 40px;
 }

 .demo-button{
  height: 50px;
  width: 90%;
  background-color: coral;
  border-style: solid;
  font-size: 20px;
  font-weight: 900;
  border-radius: 4px;
  border-color: coral;
 }

 .demo-button:hover{
  cursor: pointer;
  background-color: rgb(236, 152, 122);
 }