.main-app-header { 
    display: flex;
    justify-content: space-between;
}

.search-bar {
    background-color: rgb(241, 239, 239);
    border-color: lightgray;
    border-radius: 10px;
    width: 300%;
    height: 50%;
}