.splash-image-container{
    width: 1305px;
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.products-index-header{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    font-size: xx-large;
}

.splash-boxes{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    cursor: pointer;
}

.splash-product-images{
    width: 204px;
    height: 162px;
    cursor: pointer;
}

.price-tag{
    font-weight: 800;
    width: 45px;
    height: 17px;
}